@font-face {
  font-family: 'Helvetica';
  src: local("FreeSans"), url(/fonts/FreeSans.ttf) format("truetype");
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .heading {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%;
  color: #FFFFFF;
  z-index: 5;
}

.hero-section .heading__title {
  font: normal normal bold 3.25rem/3.95rem 'Helvetica';
  letter-spacing: 0.325rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
}

.hero-section .heading__content {
  width: 41rem;
  font: normal normal normal 1.6rem/2.2rem 'Helvetica';
  letter-spacing: 0.16rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 2.15rem;
  margin-bottom: 2.15rem;
}

.heading__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 14.225rem;
  height: 3.95rem;
  outline: none;
  border-radius: 3.95rem;
  background: transparent -webkit-gradient(linear, left top, right top, from(#1FE1E9), color-stop(34%, #5E33D1), color-stop(65%, #D34848), to(#FFB33F)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #1FE1E9 0%, #5E33D1 34%, #D34848 65%, #FFB33F 100%) 0% 0% no-repeat padding-box;
  font: normal normal bold 1.15rem/1.4rem 'Helvetica';
  letter-spacing: 0.115rem;
  color: #FFFFFF;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  border: none;
  outline: none;
  cursor: pointer;
}

.heading__button::after {
  content: "";
  position: absolute;
}

.heading__button::before {
  content: "";
  position: absolute;
}

.heading__button:hover {
  background-color: lightcoral;
}

.red-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 54rem;
  padding: 0 4.75rem 0 4.75rem;
  background: #D34848 0% 0% no-repeat padding-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15.9375rem;
}

.header__hamburger {
  margin-top: -0.3125rem;
  color: #FFFFFF;
  font-size: 2.4rem;
}

.header__logo {
  font: normal normal normal 2.4em/2.85rem 'Helvetica';
  letter-spacing: 0.24rem;
  color: #FFFFFF;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5rem 0 5rem;
}

.body__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.body__title {
  margin: 0;
  font: normal normal bold 3.7rem/4.5rem 'Helvetica';
  letter-spacing: 0.37rem;
  color: #FFFFFF;
}

.body__content {
  width: 43.9375rem;
  margin: 1.5625rem 0 1.875rem 0;
  font: normal normal normal 2.55rem/3.05rem 'Helvetica';
  letter-spacing: 0.255rem;
  color: #0B0B0B;
}

.body__button {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 3.95rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.body__button--pricing {
  width: 12.4rem;
  height: 3.1rem;
  font: normal normal bold 14.4px/18.4px 'Helvetica';
  letter-spacing: 0.09rem;
}

.body__button--demo {
  width: 16.9rem;
  height: 4.05em;
  font: normal normal bold 1.15rem/1.4rem 'Helvetica';
  letter-spacing: 0.115rem;
}

.body__button--red {
  color: #D1346E;
}

.body__speakers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 2.8125rem;
  height: 34.375rem;
}

.body__speaker {
  max-width: 16.5625rem;
  max-height: 23.75rem;
  position: relative;
}

.body__speaker--one {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.body__speaker--two {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.yellow-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 54rem;
  padding: 0 4.75rem 0 4.75rem;
  background: #FFB33F 0% 0% no-repeat padding-box;
}

.header--align {
  margin-top: -3.3rem;
}

.body__button--yellow {
  color: #FFB33F;
}

.body__heading--align {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 4.0625rem;
  margin-bottom: 11.875rem;
}

.perks-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 61.45rem;
  padding: 0 4.75rem 0 4.75rem;
  background: #191919 0% 0% no-repeat padding-box;
}

.perks-section .perks-header--align {
  margin-top: 0.9375rem;
}

.perks-section .body__button--gradient {
  color: #FFFFFF;
  background: transparent -webkit-gradient(linear, left top, right top, from(#1FE1E9), color-stop(44%, #5E33D1), color-stop(74%, #D34848), to(#FFB33F)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #1FE1E9 0%, #5E33D1 44%, #D34848 74%, #FFB33F 100%) 0% 0% no-repeat padding-box;
}

.perks-section .perks {
  margin-bottom: 7.5rem;
}

.perks-section .perks__heading {
  margin-left: 3.75rem;
  font: normal normal bold 3.7rem/4.5rem 'Helvetica';
  letter-spacing: 0.37rem;
  color: #FFFFFF;
}

.perks-section .perks__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.perks-section .perks__card {
  position: relative;
  z-index: 1;
}

.perks-section .perks__card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  height: 0.0625rem;
  width: 22%;
  /* percentage of the border width*/
  border-top: 0.1875rem solid;
}

.perks-section .perks__card--red:before {
  border-top-color: #D34848;
}

.perks-section .perks__card--lightblue:before {
  border-top-color: #1FE1E9;
}

.perks-section .perks__card--yellow:before {
  border-top-color: #FFB33F;
}

.perks-section .perks__title {
  width: 19.15rem;
  font: normal normal bold 2.55rem/3.1rem 'Helvetica';
  letter-spacing: 0.255rem;
}

.perks-section .perks__title--red {
  color: #D34848;
}

.perks-section .perks__title--lightblue {
  color: #1FE1E9;
}

.perks-section .perks__title--yellow {
  color: #FFB33F;
}

.perks-section .perks__content {
  width: 23.65rem;
  font: normal normal normal 1.75rem/2.05rem 'Helvetica';
  letter-spacing: 0.175em;
  color: #FFFFFF;
}

.reviews-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 54rem;
  padding: 0 4.75rem 0 4.75rem;
  background: #1FE1E9;
}

.reviews-section .reviews-header--align {
  margin-top: -1.875rem;
}

.reviews-section .body__button--lightblue {
  color: #1FE1E9;
}

.reviews-section .reviews-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70%;
}

.reviews-section .reviews-body .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 35rem;
  width: 40%;
}

.reviews-section .reviews-body .images__speaker {
  max-height: 20rem;
  max-width: 27rem;
  position: relative;
}

.reviews-section .reviews-body .images__speaker--one {
  right: 3.5rem;
}

.reviews-section .reviews-body .images__speaker--two {
  top: -5rem;
}

.reviews-section .reviews-body .reviews {
  width: 100%;
  height: 80%;
}

.reviews-section .reviews-body .reviews__heading {
  margin: 0;
  font: normal normal bold 3.75rem/4.5rem 'Helvetica';
  letter-spacing: 0.37rem;
  color: #FFFFFF;
}

.reviews-section .reviews-body .reviews__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.reviews-section .reviews-body .reviews__star {
  font-size: 2.6rem;
}

.reviews-section .reviews-body .reviews__title {
  font: normal normal bold 1.75rem/2.15rem 'Helvetica';
  letter-spacing: 0.175rem;
  color: #FFFFFF;
}

.reviews-section .reviews-body .reviews__content {
  font: normal normal normal 2.1875rem/2.05rem 'Helvetica';
  letter-spacing: 0.175rem;
  color: #191919;
}

.exp-con-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 40.7rem;
  padding: 0 4.75rem 0 4.75rem;
  background: #191919 0% 0% no-repeat padding-box;
}

.exp-con-section .exp-con-header--align {
  margin-top: -4rem;
}

.exp-con-section .exp-con-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40%;
}

.exp-con-section .exp-con-body .exp-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.exp-con-section .exp-con-body .exp-con__title {
  margin: 0;
  font: normal normal bold 3.7rem/4.5rem 'Helvetica';
  letter-spacing: 0.37rem;
  color: #D34848;
}

.exp-con-section .exp-con-body .exp-con__content {
  margin: 0;
  font: normal normal normal 2.55rem/3.05rem 'Helvetica';
  letter-spacing: 0.255rem;
  color: #FFFFFF;
}

footer {
  height: 26.875rem;
  padding: 0 4.75rem 0 4.75rem;
  background: #5E33D1 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .email {
  padding-bottom: 2rem;
  height: 15%;
}

footer .email__symbol {
  position: relative;
  top: 0.3rem;
  margin-right: 0.5rem;
  font-size: 2.2rem;
}

footer .email__content {
  font: normal normal normal 1.75rem/2.05rem 'Helvetica';
  letter-spacing: 0.175rem;
}

footer .footer {
  height: 50%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footer__logo {
  margin: 0;
  font: normal normal normal 2.4rem/2.85rem 'Helvetica';
  letter-spacing: 0.24rem;
  text-align: center;
}

footer .footer__copyright {
  margin: 0;
  font: normal normal normal 1.2rem/1.455rem 'Helvetica';
  letter-spacing: 0.12rem;
}
/*# sourceMappingURL=styles.css.map */