.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .heading {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    display: flex;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    z-index: 5;

    &__title {
      font: normal normal bold 52px/63.2px 'Helvetica';
      letter-spacing: 5.2px;
      align-self: center;
      margin: 0;
    }

    &__content {
      width: 656px;
      font: normal normal normal 25.6px/35.2px 'Helvetica';
      letter-spacing: 2.56px;
      align-self: center;
      margin-top: 34.4px;
      margin-bottom: 34.4px;
    }

    &__button {
      align-self: center;
      width: 227.2px;
      height: 63.2px;
      outline: none;
      border-radius: 63.2px;
      background: transparent linear-gradient(90deg, #1FE1E9 0%, #5E33D1 34%, #D34848 65%, #FFB33F 100%) 0% 0% no-repeat padding-box;
      font: normal normal bold 18.4px/22.4px 'Helvetica';
      letter-spacing: 1.84px;
      color: #FFFFFF;
      transition: all 500ms ease-in-out;
    }

    &__button::after { 
      content: "";
      position: absolute;
    }
    
    &__button::before {
      content: "";
      position: absolute;
    }

    &__button:hover, &__button:focus {
      background-color: lightcoral;
    }
  }
}
