.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .heading {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    display: flex;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    z-index: 5;

    &__title {
      font: normal normal bold 3.25rem/3.95rem 'Helvetica';
      letter-spacing: 0.325rem;
      align-self: center;
      margin: 0;
    }

    &__content {
      width: 41rem;
      font: normal normal normal 1.6rem/2.2rem 'Helvetica';
      letter-spacing: 0.16rem;
      align-self: center;
      margin-top: 2.15rem;
      margin-bottom: 2.15rem;
    }
  }
}

.heading {
  &__button {
    align-self: center;
    width: 14.225rem;
    height: 3.95rem;
    outline: none;
    border-radius: 3.95rem;
    background: transparent linear-gradient(90deg, #1FE1E9 0%, #5E33D1 34%, #D34848 65%, #FFB33F 100%) 0% 0% no-repeat padding-box;
    font: normal normal bold 1.15rem/1.4rem 'Helvetica';
    letter-spacing: 0.115rem;
    color: #FFFFFF;
    transition: all 500ms ease-in-out;
    border: none;
    outline: none;
    cursor: pointer;

    &::after { 
      content: "";
      position: absolute;
    }

    &::before {
      content: "";
      position: absolute;
    }

    &:hover {
      background-color: lightcoral;
    }
  }
}