.red-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 54rem;
  padding: 0 4.75rem 0 4.75rem;
  background: #D34848 0% 0% no-repeat padding-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15.9375rem;
  }

  &__hamburger {
    margin-top: -0.3125rem;
    color: #FFFFFF;
    font-size: 2.4rem;
  }

  &__logo {
    font: normal normal normal 2.4em/2.85rem 'Helvetica';
    letter-spacing: 0.24rem;
    color: #FFFFFF;
  }
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 4rem;
  position: relative;

  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 105rem;
  }

  &__title {
    margin: 0;
    font: normal normal bold 3.7rem/4.5rem 'Helvetica';
    letter-spacing: 0.37rem;
    color: #FFFFFF;
  }

  &__content {
    margin: 1.5625rem 0 1.875rem 0;
    font: normal normal normal 2.55rem/3.05rem 'Helvetica';
    letter-spacing: 0.255rem;
    color: #0B0B0B;
  }

  &__button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 3.95rem;
    border: none;
    outline: none;
    cursor: pointer;

    &--pricing {
      width: 12.4rem;
      height: 3.1rem;
      font: normal normal bold 14.4px/18.4px 'Helvetica';
      letter-spacing: 0.09rem;
    }

    &--demo {
      width: 16.9rem;
      height: 4.05em;
      font: normal normal bold 1.15rem/1.4rem 'Helvetica';
      letter-spacing: 0.115rem;
    }

    &--red {
      color: #D1346E;
    }
  }

  &__speakers {
    display: flex;
    padding-left: 1rem;
    height: 34.375rem;
    width: 100%;
    position: relative;
  }

  &__speaker {
    max-width: 100%;
    max-height: 60%;

    &--one {
      align-self: flex-start;
    }
    &--two {
      align-self: flex-end;
    }
  }
}
