.reviews-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 54rem;
  padding: 0 4.75rem 0 4.75rem;
  background: #1FE1E9;

  .reviews-header--align {
    margin-top: -1.875rem;
  }

  .body__button--lightblue {
    color: #1FE1E9;
  }

  .reviews-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;

    .images {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 35rem;
      width: 40%;

      &__speaker {
        max-height: 20rem;
        max-width: 27rem;
        position: relative;

        &--one {  
          right: 3.5rem;
        }
        &--two { 
          top: -5rem;
        }
      }
    }

    .reviews {
      width: 100%;
      height: 80%;

      &__heading {
        margin: 0;
        font: normal normal bold 3.75rem/4.5rem 'Helvetica';
        letter-spacing: 0.37rem;
        color: #FFFFFF;
      }

      &__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      &__card {

      }

      &__star {
        font-size: 2.6rem;
      }

      &__title {
        font: normal normal bold 1.75rem/2.15rem 'Helvetica';
        letter-spacing: 0.175rem;
        color: #FFFFFF;
      }

      &__content {
        font: normal normal normal 2.1875rem/2.05rem 'Helvetica';
        letter-spacing: 0.175rem;
        color: #191919;
      }
    }
  }
}