.yellow-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 54rem;
  padding: 0 4.75rem 0 4.75rem;
  background: #FFB33F 0% 0% no-repeat padding-box;
}

.header {
  &--align {
    margin-top: -3.3rem;
  }
}

.body {
  &__button--yellow {
    color: #FFB33F;
  }

  &__heading--align {
    align-self: flex-end;
    margin-right: 4.0625rem;
    margin-bottom: 11.875rem;
  }
}
